body{
    margin: 0;
}
p,h1{
    margin-top: 0;
    margin-bottom: 0;
}
.App{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px  10px #0009;
    max-width: 400px;
}
.card_quote{
    margin-bottom: 10px;
    font-size: 18px;
}
.card_author{
    margin-left: auto;
    width: max-content;
}
.card_button{
    display: block;
    margin-left: auto;
    color: white;
    border: none;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 100ms ease, transform 100ms ease;

}
.card_button:hover {
filter: brightness(1.2);
transform: scale(1.05);
transition: filter 100ms ease, transform 100ms ease;
}
